// brakpoints

$breakpoint-small: 576px;   // Tamaño para dispositivos móviles
$breakpoint-medium: 768px;  // Tamaño para tabletas y dispositivos móviles medianos
$breakpoint-large: 992px;   // Tamaño para pantallas de escritorio y tabletas grandes

// Paleta de colores

$color-menu: #23242a;
$color-h2: black;
$color-h2-contenedores: whitesmoke;
$color-resaltado: red;
$color-clases: #ffc107; 
$color-background-contratar: #668284;
$color-background-whatsapp-hover: #128c7e;
$color-background-whatsapp:  #25d366;
$color-boton-wp: #008000;